@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode */
  --light-bg: #f7f7f7;

  /* Dark mode */
  --dark-bg: #232323;
}

body {
  background-color: var(--light-bg);
  color: black;
}

body.dark {
  background-color: var(--dark-bg);
  color: white;
}

body.dark * {
  background-color: var(--dark-bg);
  /*color: white;*/
}
body.dark p,
body.dark h2,
body.dark h3 {
  color: white; /* Example: yellow text in dark mode */
}
body.dark button {
  background-color: #412e96;
  color: #d4dbff;
}
body.dark .proficiency-bar {
  background-color: #14b8a6;
  border-radius: 4px;
}
body.dark .skills-item-proficiency {
  background: #3e3e3e;
  border-radius: 4px;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1;
}
